.homePage {
  display: flex;
  height: 100%;

  .textContainer {
    flex: 3;
    .wrapper {
      padding-right: 100px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 20px;
      height: 100%;
      margin-top: 700px; /* Augmentez cette valeur pour descendre davantage */
      margin-bottom: 20px; /* Si vous voulez un espacement supplémentaire en bas de la section */
    }

    .getStartedButton {
      background-color: #fece51;
      cursor: pointer;
      border: none;
      padding: 12px 24px;
      font-size: 16px;
      border-radius: 4px;
      text-align: center;
      margin-top: 20px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #e1c300;
      }
    }

    .offersSection {
      padding: 50px 20px;
    }

    .sectionTitle {
      text-align: center;
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 30px;
    }

    .offersContainer {
      display: flex;
      justify-content: center;
      gap: 20px;
      flex-wrap: wrap;
    }

    .offer {
      border: 1px solid #ccc;
      border-radius: 8px;
      width: 250px;
      padding: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.05);
      }

      img {
        width: 100%;
        border-radius: 8px;
      }

      h3 {
        font-size: 18px;
        font-weight: bold;
        margin: 10px 0;
      }

      p {
        font-size: 14px;
        color: #555;
        margin: 5px 0;
      }
    }
  }

  .imgContainer {
    flex: 2;
    background-color: #fcf5f3;
    position: relative;
    display: flex;
    align-items: center;

    img {
      width: 115%;
      position: absolute;
      right: 0;
    }
  }
}
